@-webkit-keyframes fade_in {
    from { opacity: 0; }
      to { opacity: 1 !important; }
}
@-moz-keyframes fade_in {
    from { opacity: 0; }
      to { opacity: 1 !important; }
}
@-o-keyframes fade_in {
    from { opacity: 0; }
      to { opacity: 1 !important; }
}
@keyframes fade_in {
    from { opacity: 0; }
      to { opacity: 1 !important; }
}


@keyframes up_down_motion{
	0%{
		bottom: 40px;
	}
	50%{
		bottom: 35px;
	}
	100%{
		bottom: 40px;
	}
}

@-webkit-keyframes up_down_motion{
	0%{
		bottom: 40px;
	}
	50%{
		bottom: 35px;
	}
	100%{
		bottom: 40px;
	}
}

@-moz-keyframes up_down_motion{
	0%{
		bottom: 40px;
	}
	50%{
		bottom: 35px;
	}
	100%{
		bottom: 40px;
	}
}

@-o-keyframes up_down_motion{
	0%{
		bottom: 40px;
	}
	50%{
		bottom: 35px;
	}
	100%{
		bottom: 40px;
	}
}