$blue-stain: #929FC0;
$ocean-deep: #4F67A4;

$cave-blue: #28448B;
$separation-blue: #1F3367;

$section-background: #1C1018;
$yellow-green: #C3F73A;
$pale-green: #68B684;
$heavy-blue: #094D92;

$blue1: #07BEB8;
$blue2: #3DCCC7;
$blue3: #68D8D6;
$blue4: #9CEAEF;
$blue5: #9CEAEF;

// $pinkish-red: $sky-blue;
$light-gray: lighten(gray, 45%);
$solid-background: #262626;

$sidebar-transition-time: .3s;

$primary-color: #3D72F9;
$warning-color: complement($primary-color);
$danger-color: #dd1533;
$success-color: #95E06C;